<div class="jumbotron m-5"  >
  <h1 class="display-4">Dreamer Closet へようこそ</h1>
  <hr class="my-4">
  <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= link_to current_user.name, users_show_path %>
          </a>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class: "nav-link"%>
        </li>
      <% end %>
  </ul>
  <br>
  <p>服についてレビューをするサイトです</p>
  <br>
  <%= button_to "服一覧をみる", cloths_path, method: :get ,class: "btn btn-primary btn-lg" %>
  <br>
  <%= button_to "Sign out" , destroy_user_session_path, method: :delete, class: "btn btn-primary btn-lg"%>
</div>