<div class="card col-sm-6 mx-auto mt-5">
  <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar, class: "card-img-top" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title">名前：<%= current_user.name %></h5>
    <h6 class="card-subtitle text-muted">年齢：<%= current_user.age %>才</h6>
    <p class="card-text">メールアドレス：<%= current_user.email %></p>
  </div>
</div>